@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.table-glow-effect {
  box-shadow: 0 0 1rem 0.3rem rgba(0, 238, 255, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.homePage-glow-effect, .registerPage-glow-effect {
  box-shadow: 0 0 0.4rem 0.4rem rgba(255, 255, 255, 0.392);
  transition: box-shadow 0.3s ease-in-out;
}

.registryH1, .loginH1 {
  font-size: 3rem;
}

.loginBtn:hover, .registryBtn:hover {
  background-color: green;
}

@media (min-width: 390px) and (max-width: 767px)  {

  .table {
    width: 92vw;
  }

  .todolistH1 {
    margin-top: 2rem;
  }
  
  .loginH1, .registryH1 {
    margin-top: 4rem;
    font-size: 2.5rem;
  }

  .todoText {
    padding-left: 0.5rem ;
    font-size: 1.3rem;
  }

  .loginBtn:hover, .registryBtn:hover {
    background-color: black;
  }

  .loginBtn:active, .registryBtn:active {
    background-color: green;
  }
  .removeBtn {
    padding: 0.5rem;
  }

  .loginForm, .registryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

}


@media (min-width: 768px) and (max-width: 844px) {

.table {
  width: auto;
}

 }