@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.table-glow-effect {
  box-shadow: 0 0 1rem 0.3rem rgba(0, 238, 255, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.homePage-glow-effect, .registerPage-glow-effect {
  box-shadow: 0 0 0.4rem 0.4rem rgba(255, 255, 255, 0.392);
  transition: box-shadow 0.3s ease-in-out;
}